.App {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  overflow: scroll;
  height: 80vh;
}

.picking-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.flag-area {
  height: 20vh;
}